.title {
    margin-top: 8px;
    display: flex;
    position: relative;
    span {
        border: none;
        width: 100%;
        border-radius: 10px;
        font-weight: bold;
        text-align: center;
        // background: #e9ecef;
        padding: 5px 5px 5px 10px;
        outline: none;
    }
    &:after {
        content: "";
        border-bottom: solid 1px #e9ecef;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -7px;
        z-index: 1;
    }
}
.data-picker-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    .data-picker-container-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        .calendar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: 90%;
                background: #e9ecef;
                color: #495057;
                background-color: #e9ecef;
                border-color: #dee2e6;
                font-style: normal;
                font-weight: 400;
                border: none;
                margin: 7px 0;
                padding: 5px 5px 5px 10px;
                border: 1px solid #dee2e6;
                border-radius: 10px;
                outline: none;
            }
        }
    }
}
:host ::ng-deep .mat-icon-button{
    outline: none;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    button {
        background: #903;
        color: #fff;
        border: none;
        width: 49%;
        border-radius: 10px;
        margin-top: 7px;
        padding: 1px 10px;
        outline: none;
    }
}
