.add-debt-form {
    margin: 20px 0 0 0;
    position: relative;
    border-radius: 10px;

    .amout-input{
        width: 100%;
        background: #e9ecef;
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
        font-style: normal;
        font-weight: 400;
        border: none;
        padding: 5px 5px 5px 10px;
        border: 1px solid #dee2e6;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        outline: none;
        &:hover{
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            transition: .5s;
        }
    }
    .description-input{
        width: 100%;
        background: #e9ecef;
        border: none;
        color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #dee2e6;
        padding: 5px 5px 5px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        outline: none;
        &:hover{
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            transition: .5s;
    }
    }

    button{
        background: #903;
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 10px;
        margin-top: 7px;
        padding: 5px 10px;
        outline: none;
    }
    
}
.title {
    margin-top: 8px;
    display: flex;
    position: relative;
    span {
      border: none;
      width: 100%;
      border-radius: 10px;
      font-weight: bold;
      text-align: center;
      // background: #e9ecef;
      padding: 5px 5px 5px 10px;
      outline: none;
    }
    &:after {
      content: '';
      border-bottom: solid 1px #e9ecef;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -7px;
      z-index: 1;
    }
}