<div class="container">
  <div>
    <form class="search-form" [formGroup]="serachDeptorForm">
      <input placeholder="Введите фамилию и имя" type="text" formControlName="fullName">
      <button type="submit" (click)='onSearchDebtorClick()'><i class="icon-search"></i></button>
    </form>
  </div>

  <div *ngIf="isAddDebtorFormActive">
    <form class="add-form" [formGroup]="createDeptorFrom">
      <input class="add-form_input_surname" type="text" formControlName="surname" placeholder="Введите фамилию">
      <input class="add-form_input_name" type="text" formControlName="name" placeholder="Введите имя">
      <button type="submit" (click)='onAddDebtorClick()'><i class="icon-add-sign"></i></button>
    </form>
  </div>

  <div *ngIf="filtered.length > 0" class="debtors-conrainer">
    <table class="table-container">
      <thead>
        <tr>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Общий лолг (грн)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let debtor of filtered" (click)='onDebtorClick(debtor)'
          [ngClass]="{'debtor-row': !debtor.isEdited, 'edit-debtor-row': debtor.isEdited}" [formGroup]="editDeptorFrom">
          <td>
            <span class="" *ngIf="!debtor.isEdited">{{debtor.surname}}</span>
            <input *ngIf="debtor.isEdited" type="text" formControlName="surname{{debtor.id}}" class="edit-form-input">
          </td>
          <td>
            <span *ngIf="!debtor.isEdited">{{debtor.name}}</span>
            <input *ngIf="debtor.isEdited" type="text" formControlName="name{{debtor.id}}" class="edit-form-input">
          </td>
          <td class="pading-shift">{{debtor.totalDebt | number:'1.1-2'}}</td>
          <td>
            <div class="controls-contaiter">
              <div class="controls-contaiter_item">
                <mat-icon class="material-icons" *ngIf="!debtor.isEdited" mat-icon-button [matMenuTriggerFor]="menu"
                  (click)="$event.stopPropagation()">more_vert
                </mat-icon>
                <mat-icon *ngIf="debtor.isEdited" (click)="onEditDebtorClick(debtor, $event)">
                  done
                </mat-icon>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onEditDebtorClick(debtor, $event)">
                    <mat-icon>edit</mat-icon>
                    <span>Редактировать</span>
                  </button>
                  <button mat-menu-item (click)="openDialog(debtor, $event)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Удалить</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>