
<div *ngIf="debtor">
  <div>
    <a [routerLink]="['/add-debt', debtor.id]">ADD DEBT</a>
    <a [routerLink]="['/delete-debt', debtor.id]">DELETE DEBT</a>
  </div>
  <h3>{{debtor.name}} {{debtor.surname}}</h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>    
    </thead>
    <tbody>
      <tr *ngFor="let debt of debtor.debts">
        <td>{{debt.creationDate | date }}</td>
        <td>{{debt.amount}}</td>
        <td>{{debt.description}}</td>
      </tr>
    </tbody>
  </table>
</div>