<div *ngIf="debtor" class="container">
  <div class="title">
    <span>{{debtor.surname}} {{debtor.name}}</span>
  </div>
  <div class="table-container">
    <table >
      <thead>
        <tr>
          <th>Дата</th>
          <th>Сумма</th>
          <th>Описание</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let debt of debtor.debts" [ngClass]="{'strike-text': debt.isRepaid}">
          <td>{{debt.creationDate | date:'short' }}</td>
          <td>{{debt.amount | number:'1.1-2'}}</td>
          <td>{{debt.description}}</td>
          <td class="clickable" (click)="onDebtChancheClick(debt)">
            <i [ngClass]="{'icon-return-debt': debt.isRepaid,'icon-delete-debt': !debt.isRepaid }"> </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>